<%= form_with(model: publication, local: true, class:'form-group') do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :abstract %>
    <%= form.text_area :abstract, class:'form-control', rows: 10 %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_area :category, class:'form-control', rows: 3 %>
  </div>

  <div class="actions">
    <%= form.submit 'Save Changes', class:'btn btn-success' %>
  </div>
<% end %>
