<h3>Publications</h3>
  <% if user_signed_in? %>
    <%= link_to 'New Publication', new_publication_path, class:'btn btn-primary btn-sm text-white' %><br/><br/>
  <% end %>
  <% @publications.each do |publication| %>

    <div class="card mt-3">
      <div class="card-body">
        <%= link_to publication, class:'text-primary' do %>
          <h5 class="card-title"><%= publication.title %></h5>
        <% end %>

        <h6 class="card-subtitle mb-2 text-muted"><%= publication.categories.join(' ') %></h6>

        <% publication.abstract.split("\r\n").each do |para| %>
          <p class="card-text">
            <%= para %>
          </p>
        <% end %>

        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_publication_path(publication) %>
          <%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %>
          <br/><br/>
        <% end %>

      </div>
    </div>

  <% end %>
<br>


